<div class="container">

    <div class="row">
      <div class="col-3 mt-5">
        <h5 class="text-center bg-light">企業情報編集</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <%= form_with(model:@customer, url:customer_path, local:true) do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :企業名,class: "col-sm-2" %>
             <%= f.text_field :company_name, autofocus: true %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :企業名フリガナ,class: "col-sm-2" %>
             <%= f.text_field :company_name_kana %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :郵便番号, class: "col-sm-2" %>
            <%= f.text_field :post_code %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :住所, class: "col-sm-2" %>
            <%= f.text_field :address, class: "col-6 p-0" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :氏名,class: "col-sm-2" %>
             <%= f.text_field :first_name %>
             <%= f.text_field :last_name %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :フリガナ, class: "col-sm-2"%>
            <%= f.text_field :first_name_kana %>
            <%= f.text_field :last_name_kana %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :電話番号, class: "col-sm-2" %>
            <%= f.text_field :tel %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :メールアドレス, class: "col-sm-2" %>
            <%= f.email_field :email %>
          </div>

          <div class="col-12">
            <div>
              <%= f.submit "編集内容を保存", class: 'btn btn-success offset-2' %>
              <%= link_to '退会する', unsubscribe_customers_path, class: "btn btn-danger offset-3" %>
            </div>
          </div>
          <% end %>
        </form>
      </div>
    </div>

    <%= link_to 'ニーズ・課題登録はこちらへ', new_issue_path %>
    <%= link_to '業種の登録はこちらへ', new_sector_path %>
  </div>