<h1>企業一覧</h1>

<ul class="list-group">
  <!--業種検索-->
  <%= render "public/sectors/sector", sectors: @sectors %>
</ul>

<table>
<% @customers.each do |customer| %>
  <!--企業に紐づく画像-->
  <!--<tr>-->
    <th>
      <% if customer.image.attached? %>
        <%= image_tag customer.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>企業名 :</th>
    <td>
      <%= link_to customer_path(customer.id)  do %>
        <%= customer.company_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>業種</th>
    <td>
    <% if customer.sector_id == nil %>
    <!--未登録の場合は空白-->
    <% else %>
      <%=  Sector.find(customer.sector_id).name %>
    <% end %>
    </td>
  </tr>
    <!--最新の一件のみを表示-->
    <% customer.issues.order(created_at: :desc).limit(1).each do |issue| %>
  <tr>
    <th>ニーズ</th>
    <td><%= issue.needs %></td>
  </tr>
  <tr>
    <th>課題</th>
    <td><%= issue.challenge %></td>
  </tr>
  <% end %>
<% end %>
  <tr>
    <th>
      <%= paginate @customers %>
    </th>
  </tr>
</table>

<!--フォロー機能-->
<!--<= render 'public/customers/info', customer: current_customer %>-->