<h1>企業一覧</h1>

<ul class="list-group">
  <li class="list-group-item bg-light">業種一覧</li>
  <% @sectors.each do |sector| %>
    <!--<= link_to sector_path(sector.id) do %>-->
    <li class="list-group-item bg-transparent bg-gradient text-dark", style="text-decoration: underline;"><%= sector.name %></li>
    <!--< end %>-->
  <% end %>
</ul>

<table>
<% @customers.each do |customer| %>
  <!--企業に紐づく画像-->
  <!--<tr>-->
  <!--  <th>-->
  <!--    <= image_tag @customer.image, size: "200x200" %>-->
  <!--  </th>-->
  <!--</tr>-->
  <tr>
    <th>企業名 :</th>
    <td>
      <%= link_to customer_path(customer.id)  do %>
        <%= customer.company_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>業種</th>
    <!--業種の正しい表示-->
    <td><%= customer.sectors.name %></td>
  </tr>
    <!--最新の一件のみを表示-->
    <% customer.issues.order(created_at: :desc).limit(1).each do |issue| %>
  <tr>
    <th>ニーズ</th>
    <td><%= issue.needs %></td>
  </tr>
  <tr>
    <th>課題</th>
    <td></td>
  </tr>
  <% end %>
<% end %>
  <tr>
    <th>
      <%= paginate @customers %>
    </th>
  </tr>
</table>
