<div class="container">
  <div class="row mt-4">
    <div class="col-12 mt-3 mb-3">
      <h5 class="text-center font-weight-bold">企業詳細ページ</h5>
    </div>
    <div class="col-12 text-right">
      <!--ログインしているユーザーのみ編集を表示する-->
      <% if @customer.id == current_customer.id %>
        <%= link_to  edit_customer_path(@customer) do %>
          <i class="fas fa-cog fa-2x" style="color: silver"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!--画像、フォロー、チャット-->
  <div class="row mt-4">
    <div class="col-lg-4">
    <div class="row">
      <table>
        <tr>
          <th>
            <% if @customer.image.attached? %>
              <%= image_tag @customer.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "200x200" %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th class="pt-5">
            <!--フォロー機能の作成-->
            <%= render 'public/customers/info', customer: @customer %>
          </th>
          <td class="text-center pt-2">
            <!--フォローした人のみチャット機能が使える-->
            <% unless current_customer == @customer %>
              <% if current_customer.following?(@customer) %>
                <%= link_to chat_path(@customer.id) do %>
                  <i class="fas fa-comment-dots fa-3x" style="color: #28a745;"></i>
                  <div style="font-size: 15px; color: #343a40; text-decoration: none;">Let'sチャット</div>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

    <!--企業情報-->
  <div class="col-lg-8">
    <div class="row">
      <table class="col-12 bg-light">

        <tr class="col-12" style="background-color: #343a40; border: 1px solid #343a40;">
          <th class="col-3">
          </th>
          <td class="pl-5" style="color: #f8f9fa; height: 3rem;">
            <%= @customer.company_name %>の企業情報
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pr-2 pt-1" style="background-color: silver;">
            企業名フリガナ
          </th>
          <td class="pl-2 pt-1">
            <%= @customer.company_name_kana %>
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pr-2 pt-1" style="background-color: silver">
            業種
          </th>
          <td class="pl-2 pt-1">
            <% if @customer.sector_id == nil %>
            未登録
            <% else %>
              <%=  Sector.find(@customer.sector_id).name %>
            <% end %>
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pt-1" style="background-color: silver">
            郵便番号
          </th>
          <td class="pl-2 pt-1">
            <%= @customer.post_code %>
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pt-1" style="background-color: silver">
            住所
          </th>
          <td class="pl-2 pr-2 pt-1">
            <%= @customer.address %>
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pt-1" style="background-color: silver">
            代表者
          </th>
          <td class="pl-2 pt-1">
            <%= @customer.first_name %><%= @customer.last_name %>
          </td>
        </tr>

        <tr style= "border: 1px solid black;">
          <th class="pl-2 pr-2 pt-1" style="background-color: silver">
            代表者連絡先
          </th>
          <td class="pl-2 pt-1">
            <%= @customer.tel %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

  <!--ニーズ・課題-->
  <div class="col-12 offset-2">
    <div class="row">
      <div class="col-12">
        <h5 class="issue_top font-weight-bold"><%= @customer.company_name %>のニーズ・課題</h5>
        <div class="offset-7" style="font-size: 15px;">
          <% if @customer.id == current_customer.id %>
            <%= link_to new_issue_path do %>
              <div class="fas fa-handshake fa-3x ml-4" style="color: #343a40;"></div><br>
              <div class="text-dark">ニーズ・課題登録</div>
            <% end %>
          <% end %>
        </div>

        <% @issues.each do |issue| %>
          <div class="card mb-5 mt-5" style="width: 50rem; height: 30rem; box-shadow: 2px 2px 4px;">
            <div class="card-body">
              <div class="text-right mt-1" style="font-size: 11px;">
                <% if @customer.id == current_customer.id %>
                  <%= link_to edit_issue_path(issue.id) do %>
                    <i class="fas fa-edit fa-2x" style="color: #343a40;"></i><br>
                  <% end %>
                <% end %>
              </div>
              <div class="card-subject">
                【ニーズ】
              </div>
              <div style="height: 9rem;">
                <%= issue.needs %>
              </div>
              <div>
                【課題】
              </div>
              <div>
                <%= issue.challenge %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!--フッターを固定  -->
  <div class="container">

    <div class="row">
      <div class="col-12">
        <p class="footer-absolute text-center text-bottom">©︎2022 fu-kun<p>
      </div>
    </div>
  </div>