<div class="container">
  <div class="row mt-4">
    <div class="col-3 mt-3 mb-3">
      <h5 class="text-center bg-light">企業詳細ページ</h5>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="row">
        <table>
          <tr>
            <th>
              <% if @customer.image.attached? %>
                <%= image_tag @customer.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>
              <%= @customer.company_name %>のニーズ・課題
            </th>
          </tr>
          <tr>
            <th>業種   :</th>
            <td>
              <!--業種の正しい表示-->
              <!--業種を登録していないユーザーを表示させるとエラーが出る-->
              <!--<= if @customer.sector_id.present? %>-->
              <!--<= if @customer.sector_id == nil %>-->
              <!--  課題-->
              <!--< else %>-->
              <!--  <=  Sector.find(@customer.sector_id).name %>-->
              <!--< end %>-->
            </td>
          </tr>
          <% @issues.each do |issue| %>
          <tr>
            <th>ニーズ</th>
            <td><%= issue.needs %></td>
          </tr>
          <tr>
            <th>
            <% if @customer.id == current_customer.id %>
              <%= link_to edit_issue_path(issue.id)  do %>
                課題
              <% end %>
            <% else %>
              課題
            <% end %>
            </th>
            <td><%= issue.challenge %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <table>
          <tr>
            <th>企業情報</th>
          </tr>
          <tr>
            <th>企業名</th>
            <td><%= @customer.company_name %></td>
          </tr>
            <tr>
            <th>企業名フリガナ</th>
            <td><%= @customer.company_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.post_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>代表者</th>
            <td><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
          <tr>
            <th>代表者連絡先</th>
            <td><%= @customer.tel %></td>
        </tr>
        </table>
      </div>
    </div>
</div>

<!--ログインしているユーザーのみ編集を表示する-->
<% if @customer.id == current_customer.id %>
  <%= link_to "編集", edit_customer_path(@customer) %>
<% end %>
<%= link_to "チャット", chats_path(@customer), class: "btn btn-success" %>
<!--フォロー機能の作成-->
<!--<= render 'public/customers/info', customer: @customer %>-->