<%= form_with(model:@contact, url:confirm_path, method: :post, local:true) do |f| %>
  <div class="form-group">
    <%= f.label :company_name, '企業名＊' %>
    <%= f.text_field :company_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, '返信先のメールアドレス*' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject, '用件＊' %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'メッセージ＊' %>
    <%= f.text_area :message, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>

<% end %>