<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center mt-5 font-weight-bold">業種編集</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-8 mb-5">
      <%= form_with model: @sector, url: admin_sector_path, local: true do |f| %>
        <%= f.label :業種名, class: "font-weight-bold" %>
        <%= f.text_field :name, class: "offset-1" %>
        <%= f.submit "変更を保存", class: "btn btn-success offset-1 rounded-pill" %>
      <% end %>
    </div>
  </div>
  <!--業種一覧・追加画面-->
  <%= link_to :back do %>
    <i class="fas fa-chevron-circle-left fa-3x" style="color: silver"></i>
  <% end %>
</div>