<% if @range == "企業名" %>
  <h5 class="mt-3 ml-5 mb-5">企業名の検索結果 "<%= @word %>"</h5>
    <div class="col-sm-12">
      <div class="row">
        <%= render "public/searches/resultcus", customers: @customers %>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
      <%= paginate @customers %>
    </div>
  <!--フッターを固定  -->
  <%= render "public/shared/footer" %>

<% elsif @range == "ニーズ" %>
  <h5 class="mt-3 ml-5 mb-5">ニーズの検索結果 "<%= @word %>"</h5>
    <div class="col-sm-12">
      <div class="row">
        <%= render "public/searches/resultiss", issues: @issues, customer: @customers %>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
      <%= paginate @issues %>
    </div>
  <!--フッターを固定  -->
  <%= render "public/shared/footer" %>

<% else %>
  <h5 class="mt-3 ml-5 mb-5">課題の検索結果 "<%= @word %>"</h5>
    <div class="col-sm-12">
      <div class="row">
        <%= render "public/searches/resultiss", issues: @issues, customer: @customers %>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
      <%= paginate @issues %>
    </div>
  <!--フッターを固定  -->
  <%= render "public/shared/footer" %>
<% end %>