<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h5 class="text-center font-weight-bold mt-3">ニーズ・課題編集</h5>
      <div class="offset-9 mt-5">
        <!--ログインしているユーザーのみ削除-->
        <% if @customer == current_customer.id %>
          <%= link_to @issue, method: :delete, data: {confirm: "削除しますか？"} do %>
            <i class="far fa-trash-alt fa-2x" style="color: #343a40"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <%= form_with(model:@issue, url:issue_path, method: :patch, local:true) do |f| %>
        <form>
          <div class="form-group text-center">
            <div class="col-8 offset-2 bg-dark mt-2" style="color: #f8f9fa; height: 40px;">
              <%= f.label :ニーズ,class: "col-sm-2 mt-2" %>(235文字以内)
            </div><br/>
            <div style="height: 200px;">
              <%= f.text_area :needs, autofocus: true, :size=>"80", class: "h-100"%>
            </div>
          </div>
          <div class="form-group text-center mt-5">
            <div class="col-8 offset-2 bg-dark" style="color: #f8f9fa; height: 40px;">
              <%= f.label :課題,class: "col-sm-2 mt-2" %>(400文字以内)
            </div><br/>
            <div style="height: 200px;">
              <%= f.text_area :challenge, :size=>"80", class: "h-100" %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "編集を保存", class: 'btn btn-success rounded-pill' %>
          </div>


          <!--企業の詳細ページ-->
          <div class="footer-absolute">
            <div style="height: 10rem;">
              <%= render 'public/shared/back' %>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>