<h5>ニーズ・課題新規登録</h5>

<% if @issue && @issue.errors.any? %>
  <%= @issue.errors.count %>error prohibited this book from being saved:
    <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>


<%= form_with(model:@issue, url:issues_path, method: :post, local:true) do |f| %>
    <div class="form-group col-xs-9">
      <%= f.label :ニーズ, class: "col-sm-2" %>
      <%= f.text_area :needs %>
    </div>
    <div class="form-group col-xs-9">
      <%= f.label :課題, class: "col-sm-2" %>
      <%= f.text_area :challenge %>
    </div>
  <%= f.submit "編集内容を保存", class: 'btn btn-success offset-2' %>
  <!--企業の編集ページ-->
  <%= link_to '戻る', :back %>
<% end %>