<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h5>CHAT WITH <%= @customer.company_name %></h5>
      <div class="overflow-auto" id="area">
        <div id="chats">
          <div id="message">
            <% @chats.each do |chat| %>
              <% if chat.customer_id == current_customer.id %>
                <div class="mycomment">
                  <p><%= chat.message %></p>
                </div>
                <div class="days">
                  <p><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></p>
                </div>
              <% else %>
                <div class="fukidasi">
                  <div class="faceicon">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="chatting">
                    <div class="says">
                      <p><%= chat.message %></p>
                    </div>
                    <div class="days">
                      <p><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="text-right">
        <%= form_with(model: @chat, local: false) do |f| %>
          <%= f.text_area :message, :placeholder => "メッセージを入力", class:"col-6" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class:"btn btn-success chat-btn mb-5"%>
        <% end %>
      </div>

      <!--企業の詳細ページ-->
      <%= render 'public/shared/back' %>
    </div>
  </div>
  <!--フッターの固定-->
  <%= render "public/shared/footer" %>
</div>
