<div class="container">

  <div class="row">
    <div class="col-12 mb-5 text-right">
      <h5 class="text-center col-3 mt-5 font-weight-bold">会員一覧</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-12 mb-5">
      <table class="table table-hover table-inverse mousepointer-hand">
          <thead>
              <tr class="bg-light">
                  <th>会員ID</th>
                  <th>企業名</th>
                  <th>代表者名</th>
                  <th>メールアドレス</th>
                  <th class="text-center">ステータス</th>
              </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr class="pointer" data-href="/admin/customers/<%= customer.id %>">
                  <td><%= customer.id %></td>
                  <td>
                      <%= customer.company_name %>
                  </td>
                  <td><%= customer.first_name %><%= customer.last_name %></td>
                  <td><%= customer.email %></td>
                  <td class="text-center">
                    <%if customer.withdraw == false %>
                      <span class="text-success font-weight-bold">有効</span>
                    <% else %>
                     <span class="text-secondary font-weight-bold">退会済</span>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div><%= paginate @customers %></div>
    </div>
  </div>
</div>


<script>
jQuery( function($) {
    $('tbody tr[data-href]').addClass('clickable').click( function() {
        window.location = $(this).attr('data-href');
    }).find('a').hover( function() {
        $(this).parents('tr').unbind('click');
    }, function() {
        $(this).parents('tr').click( function() {
            window.location = $(this).attr('data-href');
        });
    });
});
</script>