<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom d-flex justify-content-center">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
<%# ユーザーログイン後のヘッダー　%>
        <% if customer_signed_in? %>
          <!--<li class="nav-item">-->
          <!--  <= link_to '問い合わせ', contacts_new_path, class: 'nav-link text-light' %>-->
          <!--</li>-->
          <!--トップページは検索窓を非表示-->

          <li class="nav-item text-center" style="font-size: 11px" >
            <%= link_to customers_path do %>
              <i class="fas fa-building fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">企業一覧</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to customer_path(current_customer) do %>
              <i class="fas fa-user fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">マイページ</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">ログアウト</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to do %>
              <i class="fas fa-bell fa-3x" style="color: #f8f9fa"></i><br>
              <div class="nav-link text-light">お知らせ</div>
            <% end %>
          </li>
<%# 管理者ログイン後のヘッダー　%>
        <% elsif admin_signed_in? %>
          <li class="nav-item text-center" style="font-size: 11px" >
            <%= link_to admin_contacts_path do %>
              <i class="far fa-envelope fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">問い合わせ</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px" >
            <%= link_to admin_path do %>
              <i class="fas fa-building fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">企業一覧</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px" >
            <%= link_to  admin_sectors_path do %>
              <i class="fas fa-plus-square fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">業種追加</div>
            <% end %>
          </li>
          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt fa-3x" style="color: #f8f9fa"></i>
              <div class="nav-link text-light">ログアウト</div>
            <% end %>
          </li>
<%# ログイン前のヘッダー(ユーザー、管理者共通)　%>
        <% else %>
          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to new_customer_registration_path do %>
              <i class="fas fa-user-plus fa-3x" style="color: #f8f9fa"></i><br>
              <div class="nav-link text-light">新規登録</div>
            <% end %>
          </li>

          <li class="nav-item text-center" style="font-size: 11px">
            <%= link_to new_customer_session_path do %>
              <i class="fas fa-sign-in-alt fa-3x" style="color: #f8f9fa"></i><br>
              <div class="nav-link text-light">ログイン</div>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</footer>