<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>MulSol</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
<%# ユーザーログイン後のヘッダー　%>
        <% if customer_signed_in? %>
          <!--<li class="nav-item">-->
          <!--  <= link_to '問い合わせ', contacts_new_path, class: 'nav-link text-light' %>-->
          <!--</li>-->
          <!--トップページは検索窓を非表示-->
          <% unless current_page?(root_path) %>
            <%= render 'public/searches/form' %>
          <% end %>
          <li class="nav-item">
            <%= link_to '企業一覧', customers_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', customer_path(current_customer), class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
<%# 管理者ログイン後のヘッダー　%>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to '問い合わせ一覧', admin_contacts_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to '企業一覧', admin_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
<%# ログイン前のヘッダー(ユーザー、管理者共通)　%>
        <% else %>
          <li>
            <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログイン",new_customer_session_path ,class: 'nav-link text-light' %>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>